[submodule "Blurry-Loading"]
	path = Blurry-Loading
	url = https://github.com/Seraj2335/Blurry-Loading
[submodule "vertical-slider"]
	path = vertical-slider
	url = https://github.com/Seraj2335/vertical-slider
[submodule "Live-User-Filter"]
	path = Live-User-Filter
	url = https://github.com/Seraj2335/Live-User-Filter
[submodule "Content-Placeholder"]
	path = Content-Placeholder
	url = https://github.com/Seraj2335/Content-Placeholder
[submodule "randomchoice-picker"]
	path = randomchoice-picker
	url = https://github.com/Seraj2335/randomchoice-picker
